/* Default -> xl viewport (min-width: 1200px) */


/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {

}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}