p {
	margin: 0;
	padding-bottom: 1rem;
}

html body {
	background-color: var(--light-bg);
}

main {
	font-family: "Montserrat";
}

article {
	display: flex;
}

article .article {
	width: 75%;
	padding-right: 15px;
}

article .sidebar {
	width: 25%;
	padding-left: 15px;
	background-image: url('../img/bg-img/texture-1.png');
	background-size: cover;
}

article .sidebar .algorithm-attributes li {
	font-size: 12px;
}

.gitlab {
	width: 300px; 
	height: 300px; 
	padding: 15px; 
	display: inline-block; 
	border-radius: 5px;
	transition: .2s;
}

.gitlab:hover {
	background-color: var(--white);
	box-shadow: 2px 5px 10px var(--translucent-deep-cove-light);
}

.sidebar ul li {
	list-style-type: none;
	position: relative;
}

.sidebar ul li:before {
	content: "\2799";
	position: absolute;
	left: -30px;
}

.bg-deepcove {
	background-image: linear-gradient(to bottom, var(--deep-cove), transparent);
}

.wide {
	letter-spacing: .1em;
}

.lr-padding {
	padding-left: 25px;
	padding-right: 25px;
}

.l-padding {
	padding-left: 25px;
}

.r-padding {
	padding-right: 25px;
}

.full-width {
	width: 100%;
}

div.body {
	min-height: 480px;
}

.display-block {
	display: block !important;
}

.display-none {
	display: none !important;
}

.visible {
	visibility: visible !important;
}

.invisible {
	visibility: hidden !important;
}

.no-padding {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.vertical-center-wrapper {
	height: 100%;
	display: table;
}

.vertical-center {
	display: table-cell;
	vertical-align: middle;
}

.bg-deepcove-solid {
	background-color: var(--deep-cove);
}

article .sidebar .img-wrapper {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

article .sidebar .img-wrapper > img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

span.gold {
	color: var(--gold);
}

span.red {
	color: var(--red);
}

span.green {
	color: var(--green);
}

span.orange {
	color: var(--orange);
}

.text-bg1 {
	display: block;
	background-color: var(--deep-cove);
	border-radius: 2px;
	padding: 5px;
	text-align: center;
}

.line-1 {
	position: relative;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, .75);
	text-align: center;
	overflow: hidden;
	white-space: nowrap;   
}

.typewriter {
	animation: 
		typewriter 4s steps(31, end) 0.9s 1 normal both,
		blinkTextCursor 1s steps(44) infinite normal;
}

.fadein {
	animation: fadein 2s;
	animation-fill-mode: forwards;
}

.fadein-slow {
	animation: fadein 4s;
	animation-fill-mode: forwards;
}

.fadein-veryslow {
	animation: fadein 7s;
	animation-fill-mode: forwards;
}

.fadein-fast {
	animation: fadein 1s;
	animation-fill-mode: forwards;
}

.fluid-bg-1 {
	background-image: radial-gradient(var(--san-marino), var(--translucent-san-marino), transparent);
}

.fluid-bg-2 {
	background-color: var(--san-marino);
	background-image: url('../img/bg-img/texture-1.png');
	background-size: cover;
}

.article-has-bg {
	padding: 15px;
}

.gradient-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gradient1 {
	background-image: linear-gradient(to top right, var(--translucent-deep-cove), transparent);
}

.has-gradient-bg {
	position: relative;
}

.responsive-img > div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	position: relative;
}

.responsive-img > div > .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.responsive-img > div > .overlay.dark-left {
	background-image: linear-gradient(to right, var(--translucent-deep-cove), transparent);
}

.responsive-img > div > .overlay.dark-right {
	background-image: linear-gradient(to left, var(--translucent-deep-cove), transparent);
}

.responsive-img > div > .overlay > div {
	position: relative;
}

.responsive-img > div > .overlay .content {
	width: 40%;
	display: inline-block;
	position: absolute;
	top: 35px;
	background-color: var(--translucent-deep-cove);
	border-radius: 10px;
	padding: 15px;
	box-shadow: 2px 5px 12px var(--translucent-deep-cove-light);
}

.responsive-img > div > .overlay .content.right-align {
	right: 35px;
}

.responsive-img > div > .overlay .content.left-align {
	left: 35px;
}

.responsive-img > div > .overlay .content h2 {
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	color: var(--flamingo);
}

.responsive-img > div > .overlay .content h2.deep-cove {
	color: var(--san-marino);
}

.responsive-img > div > .overlay .content p {
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	color: var(--white);
}

.responsive-img > div > .overlay .content .btn-wrapper {
	text-align: center;
}

.responsive-img > div > .overlay .content .btn-wrapper .btn {
	background-color: var(--flamingo);
	color: var(--white);
	padding: 10px 25px;
	font-size: 20px;
	margin: 25px 0;
	letter-spacing: .1em;
	text-transform: uppercase;
	transition: .2s;
}

.responsive-img > div > .overlay .content .btn-wrapper .btn.deep-cove {
	background-color: var(--san-marino);
}

.responsive-img > div > .overlay .content .btn-wrapper .btn:hover {
	background-color: var(--white);
	color: var(--deep-cove);
}

.responsive-img > img {
	display: none;
}

section.three-columns {
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
}

section.three-columns > * {
	width: 33.333%;
}

@keyframes typewriter {
	from { width: 0; }
	to { width: 15em; }
}

@keyframes blinkTextCursor {
	from { border-right-color: rgba(255, 255, 255, .75); }
	to { border-right-color: transparent; }
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes flyin {
	0% {
		left: -500px;
		opacity: 0;
	}

	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes flyin-right {
	from {
		position: relative;
		right: -500px;
		opacity: 0;
	}

	to {
		position: relative;
		right: 0;
		opacity: 1;

	}
}

@keyframes hover {
	0% {
		top: 0;
	}

	10% {
		top: -3px;
		left: 2px;
	}

	20% {
		top: -5px;
		left: 6px;
	}

	30% {
		top: 0;
		left: 10px;
	}

	40% {
		top: 5px;
		left: 6px;
	}

	50% {
		top: -3px;
		left: 0;
	}

	60% {
		top: 2px;
		left: -3px;
	}

	70% {
		top: -3px;
		left: 3px;
	}

	80% {
		top: -5px;
		left: 10px;
	}

	90% {
		top: -3px;
		left: 4px;
	}

	100% {
		top: -1px;
		left: 1px;
	}
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.anim-hover {
	position: relative;
	animation: hover 2s ease-in-out infinite;
	animation-fill-mode: forwards;
}

.anim-hover-finite {
	position: relative;
	animation: hover 2s ease-in-out;
	animation-fill-mode: forwards;
}

.flyin {
	opacity: 0;
	animation: flyin 2s ease-in-out;
	animation-fill-mode: forwards;
	position: relative;
}

.flyin-right {
	opacity: 0;
	position: relative;
	animation: flyin-right 2s ease-in-out;
	animation-fill-mode: forwards;
}

.delay1 {
	animation-delay: 0.5s;
}

.delay2 {
	animation-delay: 1s;
}

.delay3 {
	animation-delay: 2s;
}

.delay4 {
	animation-delay: 3s;
}

.delay5 {
	animation-delay: 4s;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	.responsive-img > div > .overlay .content {
		width: 50%;
	}

	.responsive-img > div > .overlay .content .btn-wrapper .btn {
		font-size: 16px;
	}

	section.three-columns {
		display: block;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	section.three-columns > * {
		width: 100%;
	}

	article {
		display: block;
	}

	article .sidebar, 
	article .article {
		width: 100%;
	}

	article .sidebar {
		padding-left: 15px;
		padding-right: 15px;
	}

	article .article {
		margin-bottom: 25px;
		padding-left: 0;
		padding-right: 0;
	}

	.vertical-center-wrapper,
	.vertical-center {
		display: block;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	div.body {
		min-height: 580px;
	}

	.responsive-img > div > .overlay .content {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		position: unset;
		margin-top: 40px;
	}

	.responsive-img > div > .overlay .content p {
		color: var(--white);
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	article .sidebar .algorithm-attributes li {
		font-size: 11px;
	}
}
