/* If you add or use any color, add it to :root */

:root {
	--deep-cove: #032239;
	--san-marino: #006ba4;
	--blue-zodiac: #1c2e53;
	--aquamarine-blue: #75C3E1;
	--pencil: #EECB26;
	--teal: #63E7DC;
	--wedgewood: #459992;
	--gold: #D6C025;
	--light-bg: #EEF6F7;
	--dark-bg: #293340;
	--green: #24D324;
	--red: #ff0000;
	--orange: #ff6c00;
	--flamingo: #EE4531;

	--translucent-white: rgba(255, 255, 255, 0.2);
	--translucent-white2: rgba(255, 255, 255, 0.5);
	--translucent-black: rgba(0, 0, 0, 0.2);
	--translucent-black-dark: rgba(0, 0, 0, 0.7);
	--translucent-aquamarine-blue: rgba(117, 195, 255, 0.4);
	--translucent-san-marino: rgba(0, 107, 164, 0.7);
	--translucent-deep-cove-light: rgba(3, 34, 57, 0.3);
	--translucent-deep-cove: rgba(3, 34, 57, 0.7);
	--translucent-deep-cove2: rgba(3, 34, 57, 0.9);
	--translucent-gold: rgba(214, 192, 37, 0.5);
	--transparent-gold: rgba(214, 192, 37, 0.3);
	--transparent-green: rgba(36, 211, 36, 0.3);
	--transparent-red: rgba(255, 0, 0, 0.3);
	--transparent-orange: rgba(255, 108, 0, 0.3);
	--clover: rgba(0, 255, 148, 0.1);

	--logo-height: 45px;
	--banner-height: 200px;
	--sm-banner-height: 120px;
}