/* Default -> xl viewport (min-width: 1200px) */
div.android-carousel-section .carousel-indicators {
	cursor: pointer;
	display: none;
}

div.android-carousel-section {
	padding: 50px 15px 50px 15px;
	font-family: "Montserrat";
	position: relative;
}

div.android-carousel-section .header {
	margin-bottom: 50px;
	text-align: center;
	position: relative;
}

div.android-carousel-section .header > .heading {
	color: white;
	letter-spacing: .1em;
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 25px;
}

div.android-carousel-section .header .heading:after {
	content: "";
	border-top: 1px dashed white;
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 10%;
	right: 10%;
}

div.android-carousel-section .header > .subheading {
	font-size: 22px;
	color: white;
}

div.android-carousel-section .carousel-content {
	display: flex;
}

div.android-carousel-section .left-column {
	width: 25%;
	position: relative;
}

div.android-carousel-section .right-column {
	width: 75%;
}

div.android-carousel-section .left-column > .cutout {
	width: 100%;
	height: auto;
	position: relative;
}

div.android-carousel-section .left-column .screen-constrain {
	position: absolute;
	top: 10.5%;
	left: 4.2%;
	right: 0;
	bottom: 0;
	height: 79.7%;
	width: 90.8%;
	/* background-color: yellow; */
}

div.android-carousel-section #android-carousel,
div.android-carousel-section .carousel-inner,
div.android-carousel-section .carousel-item,
div.android-carousel-section img {
	width: 100%;
	height: 100%;
	border-radius: 2px;
}

div.android-carousel-section .right-column {
	margin-left: 50px;
	color: white;
}

div.android-carousel-section .right-column .content-row {
	display: flex;
}

div.android-carousel-section .right-column .content-row:not(:first-child) {
	margin-top: 35px;
}

div.android-carousel-section .right-column .content-row .number-wrapper {
	min-width: 80px;
	max-width: 80px;
	min-height: 80px;
	max-height: 80px;
	background-color: var(--deep-cove);
	border-radius: 40px;
	position: relative;
	transition: .2s;
}

div.android-carousel-section .right-column .content-row .number-wrapper:hover {
	box-shadow: 0 0 15px var(--aquamarine-blue);
	cursor: pointer;
}

div.android-carousel-section .right-column .content-row .number-wrapper p {
	margin: 0;
	padding: 0;
	display: block;
	margin-right: -50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	font-size: 28px;
	pointer-events: none;
}

div.android-carousel-section .right-column .content-row .number-wrapper.active {
	background-color: white;
	color: var(--deep-cove);
	transition: .2s;
	animation: spin .5s ease-in-out;
	animation-fill-mode: forwards;
	position: relative;
}

div.android-carousel-section .right-column .content-row .text-wrapper {
	width: auto;
	margin-left: 25px;
}

div.android-carousel-section .right-column .content-row .text-wrapper p {
	
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	div.android-carousel-section .left-column .screen-constrain {
		top: 9.6%;
		height: 73.3%;
	}

	div.android-carousel-section .right-column .content-row .number-wrapper {
		min-width: 60px;
		max-width: 60px;
		min-height: 60px;
		max-height: 60px;
		border-radius: 30px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	div.android-carousel-section .left-column .screen-constrain {
		height: 80.6%;
	}

	div.android-carousel-section .header {
		width: 50%;
		position: absolute;
		top: 50px;
		right: 0;
		text-align: left;
	}

	div.android-carousel-section .header .heading {
		text-align: center;
	}

	div.android-carousel-section .header .subheading {
		font-size: 18px;
	}

	div.android-carousel-section .header .heading:after {
		display: none;
	}

	div.android-carousel-section .header:after {
		content: "\27B2";
		display: inline-block;
		transform: rotate(180deg);
		font-size: 160px;
		color: white;
	}

	div.android-carousel-section .left-column {
		width: 35%;
		margin-bottom: 50px;
	}

	div.android-carousel-section .right-column {
		width: 100%;
		margin: 0;
	}

	div.android-carousel-section .carousel-content {
		display: block;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	div.android-carousel-section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	div.android-carousel-section .header:after, 
	div.android-carousel-section .header .subheading {
		display: none;
	}

	div.android-carousel-section .header {
		width: 100%;
		position: relative;
		top: 0;
		right: 0;
		left: 0;
	}

	div.android-carousel-section .header .heading {
		padding: 0;
		margin: 0;
		text-align: center;
		line-height: 1;
		font-size: 34px;
	}

	div.android-carousel-section .left-column {
		width: 50%;
		display: block;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	div.android-carousel-section .carousel-content {
		justify-content: center;
	}

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}