/* Default -> xl viewport (min-width: 1200px) */
div.card1 {
	font-size: 16px;
	color: white;
	font-family: "Montserrat";
	background-image: linear-gradient(to bottom, white, transparent);
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	transition: .2s;
	position: relative;
}

div.card1:hover {
	cursor: pointer;
	background-color: var(--san-marino);
	background-image: linear-gradient(to bottom, var(--translucent-deep-cove2), transparent);
	box-shadow: 0 0 25px white;
	border: none;
}

div.card1:hover a {
	box-shadow: 0 0 15px var(--translucent-white);
	color: var(--deep-cove);
	background-color: white;
}

div.card1:hover .title {
	color: white;
}

div.card1 p, a {
	padding: 0;
}

div.card1 .main-block {
	margin-bottom: 15px;
}

div.card1 .blurb {
	padding: 0 30px 0 30px;
	font-size: 20px;
}

div.card1 .title {
	color: var(--deep-cove);
	font-size: 28px;
	font-weight: 700;
	text-align: center;
	line-height: 1;
	letter-spacing: .1em;
	position: relative;
	transition: .2s;
}

div.card1 .img-wrapper {
	padding: 30px 30px 30px 30px;
	width: 100%;
	text-align: center;
}

div.card1 .img-wrapper img.img {
	height: auto;
	border-radius: 5px;
	max-width: 300px;
	display: inline-block;
}

div.card1 .btn-wrapper {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

div.card1 a {
	color: white;
	pointer-events: none;
	letter-spacing: .1em;
	font-size: 18px;
	border-radius: 5px;
	padding: 10px 15px 10px 15px;
	margin: 0px 30px 0px 30px;
	display: inline-block;
	background-color: var(--deep-cove);
	text-transform: uppercase;
	transition: .1s;
	font-weight: 600;
	display: block;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	div.card1 .title {
		font-size: 24px;
	}

	div.card1 a {
		font-size: 14px;
	}

	div.card1 .img-wrapper img.img {
		max-width: 200px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	div.card1 {
		margin: 0;
		margin-bottom: 0 !important;
		padding: 15px 0 15px 0;
	}

	div.card1 .main-block {
		margin-bottom: 0 !important;
	}

	div.card1:not(:last-child) {
		margin-bottom: 15px;
	}

	div.card1 .img-wrapper {
		display: none;
	}

	div.card1 .title {
		margin-bottom: 15px;
	}

	div.card1 a {
		position: absolute;
		right: 0;
	}

	div.card1 .btn-wrapper {
		padding: 0;
	}

	div.card1 .blurb {
		width: 66.666%;
		margin-top: 30px;
	}

	div.card1 .main-block:before {
		content: "";
		border-top: 1px solid var(--deep-cove);
		position: absolute;
		top: 50px;
		bottom: 0;
		left: 30px;
		right: 30px;
	}

	div.card1:hover .main-block:before {
		border-color: white;
	}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	div.card1 .title {
		font-size: 22px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	div.card1 .title {
		font-size: 18px;
	}

	div.card1 .blurb {
		font-size: 16px;
		width: 50%;
	}
}