/* Default -> xl viewport (min-width: 1200px) */
section.risks-card-section .risks-card {
	position: relative;
	font-size: 24px;
	letter-spacing: .1em;
	margin-top: 15px;
	background-size: cover;
}

section.risks-card-section .risks-card .visible-section {
	box-shadow: 0 0 15px var(--deep-cove);
}

section.risks-card-section .risks-card:nth-child(2n) .visible-section {
	background-image: linear-gradient(to left, var(--deep-cove), transparent);
}

section.risks-card-section .risks-card:nth-child(2n+1) .visible-section {
	background-image: linear-gradient(to right, var(--deep-cove), transparent);
}

section.risks-card-section p {
	padding-bottom: 0;
}

section.risks-card-section .overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

section.risks-card-section .overlay-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(to top, transparent, var(--deep-cove));
	border: 1px solid white;
	box-shadow: 0 0 15px white;
}

section.risks-card-section .overlay-section {
	opacity: 0;
	transition: .2s;
	cursor: pointer;
	color: var(--gold);
	font-size: 14px;
}

section.risks-card-section .overlay-section:hover {
	opacity: 1;
}

section.risks-card-section .img-wrapper {
	height: 80px;
	width: 80px;
	display: inline-block;
	padding: 15px;
	margin-left: 25px;
	margin-right: 25px;
}

section.risks-card-section .img-wrapper > img {
	height: 100%;
	width: 100%; 
}

section.risks-card-section .icon-section {
	display: block;
	width: 100%;
	pointer-events: none;
}

section.risks-card-section .risks-card:nth-child(2n) .icon-section {
	text-align: right;
}

section.risks-card-section .visible-section {
	display: flex;
	position: relative;
}

section.risks-card-section .icon-section .title {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 145px;
	color: white;
	pointer-events: none;
}

section.risks-card-section .risks-card:nth-child(2n) .icon-section .title {
	right: 145px;
	left: unset;
}

section.risks-card-section .hidden-section {
	visibility: hidden;
	transition: .5s;
	opacity: 0;
	height: 0;
}

section.risks-card-section .hidden-section table {
	display: none;
}

section.risks-card-section .risks-summary {
	font-size: 14px;
	letter-spacing: normal;
	margin-top: 15px;
	background-image: linear-gradient(to top left, var(--translucent-deep-cove), transparent);
	box-shadow: 0 0 20px var(--translucent-deep-cove2);
}

section.risks-card-section .hidden-section.selected {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

section.risks-card-section .hidden-section.selected table {
	display: block;
}

section.risks-card-section .risks-summary tr td:first-child {
	text-align: center;
	background-color: var(--deep-cove);
}

section.risks-card-section .risks-summary tr *:first-child {
	min-width: 50px;
}

section.risks-card-section .risks-summary * {
	padding: 5px;
	border: 1px solid var(--translucent-white);
}

section.risks-card-section .risks-summary th {
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: .1em;
	background-color: var(--translucent-white);
	color: var(--deep-cove);
	border-bottom: 1px solid var(--translucent-deep-cove);
}

section.risks-card-section .risks-summary th:not(:last-child) {
	border-right: 1px solid var(--translucent-deep-cove);
}

section.risks-card-section .risks-summary tr td:not(:first-child) {
	vertical-align: top;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	section.risks-card-section .overlay > p {
		display: none;
	}

	section.risks-card-section .risks-summary th {
		font-size: 16px;
	}

	section.risks-card-section .risks-summary td {
		font-size: 12px;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}