/* Default -> xl viewport (min-width: 1200px) */
div.roles-section {
    display: flex;
	  position: relative;
}

div.roles-section .role-card {
    width: 33.333%;
	  margin: 10px;
	  padding: 5px;
	  background-color: var(--san-marino);
	  background-image: linear-gradient(to bottom left, var(--deep-cove), transparent);
    transition: .2s;
}

div.roles-section .role-card:hover {
    box-shadow: 0 0 15px var(--deep-cove);
}

div.roles-section .title {
	  text-align: center;
	  padding: 0;
	  padding-top: 5px;
	  letter-spacing: .1em;
	  color: var(--gold);
	  text-transform: uppercase;
	  font-size: 20px;
}

div.roles-section .img-wrapper {
	  display: block;
	  text-align: center;
	  margin: 20px;
}

div.roles-section .img-wrapper > img {
	  width: 120px;
	  height: 120px;
	  display: inline-block;
}

section.stories div.story-card:not(:last-child) {
    margin-bottom: 10px;
}

section.stories div.story-card .visible-part {
    background-color: var(--deep-cove);
    font-size: 18px;
    letter-spacing: .1em;
    transition: .2s;
}

section.stories div.story-card .visible-part:hover {
    background-image: linear-gradient(to right, var(--translucent-san-marino), transparent);
    background-color: var(--translucent-deep-cove);
    border-radius: 10px;
    cursor: pointer;
}

section.stories div.story-card .visible-part:hover p {
    letter-spacing: .2em;
    color: white;
    font-weight: 600;
}

section.stories div.story-card .visible-part p {
    margin: 0;
    line-height: 1;
    padding: 10px 25px 10px 25px;
    color: var(--gold);
    transition: .2s;
}

div.story-card .hidden-part {
    background-image: linear-gradient(to top left, white, transparent);
    padding: 25px;
    color: var(--deep-cove);
    display: none;
}

div.story-card .hidden-part .story-part > p {
    font-size: 28px;
    letter-spacing: .1em;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}

div.story-card .hidden-part .story-part > p:after {
    content: "\2710";
    padding-left: 20px;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
    div.roles-section {
        display: block;
    }

    div.roles-section .role-card {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        display: flex;
        position: relative;
    }

    div.roles-section .img-wrapper > img {
        width: 90px;
        height: 90px;
    }

    div.role-card > div {
        width: 33.333%;
        display: inline-block;
    }

    div.role-card ul {
        padding: 30px;
        width: 66.666%;
        margin: 0;
    }

    div.story-card .hidden-part .story-part > p {
        font-size: 22px;
    }
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
    div.role-card ul li {
        font-size: 14px;
    }

    div.role-card ul {
      width: 55%;
    }
    
    div.role-card .title {
        font-size: 18px;
    }

    div.role-card > div {
        width: 45%;
    }

    div.story-card .hidden-part .story-part > p {
        font-size: 18px;
    }

    div.story-card .hidden-part .story-part ol li {
        font-size: 14px;
    }
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}