/* Default -> xl viewport (min-width: 1200px) */
section.team-lab-section {

}

section.team-lab-section .row {
	width: 100%;
	display: flex;
	margin: 0;
}

section.team-lab-section .card-wrapper {
	width: 33.333%;
	display: inline-block;
}

section.team-lab-section .team-lab {
	background-image: linear-gradient(to bottom, var(--translucent-white), transparent);
	margin: 5px 20px 5px 20px;
	padding: 10px;
	border-radius: 2px;
	position: relative;
	transition: .1s;
}

section.team-lab-section .team-lab div > img {
	width: 50px;
	height: auto;
	display: inline-block;
}

section.team-lab-section .team-lab div {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

section.team-lab-section p {
	text-align: center;
	padding: 5px;
	margin: 0;
}

div.team-lab p.who {
	font-size: 18px;
	letter-spacing: .1em;
}

div.team-lab p.msg {
	letter-spacing: .5em;
	font-size: 12px;
	opacity: 0;
	transition: .4s;
}

div.team-lab:hover {
	background-color: var(--translucent-deep-cove);
	cursor: pointer;
}

div.team-lab:hover p.who {
	color: var(--gold);
}

div.team-lab:hover p.msg {
	letter-spacing: .1em;
	opacity: 1;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	section.team-lab-section div.team-lab {
		margin-left: 5px;
		margin-right: 5px;
	}

	section.team-lab-section div.team-lab p.who {
		font-size: 12px;
	}

	section.team-lab-section div.team-lab p.msg {
		font-size: 10px;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	section.team-lab-section .card-wrapper {
		width: 100%;
	}

	section.team-lab-section div.team-lab p.who {
		font-size: 16px;
	}

	section.team-lab-section .team-lab div > img {
		width: 30px;
	}

	section.team-lab-section div.team-lab {
		margin-left: 15%;
		margin-right: 15%;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}