/* Default -> xl viewport (min-width: 1200px) */
html.contact-us div.body {
	background-color: var(--deep-cove);
	background-image: none;
	border-bottom: 1px solid var(--blue-zodiac);
}

#form-main {
	padding: 75px 0 75px 0;
}

#form-main > #form-div {
	background-color: var(--blue-zodiac);
	background-image: linear-gradient(to top right, var(--translucent-san-marino), transparent);
	padding: 25px;
}

#form-div form {
	text-align: center;
	font-family: "Montserrat";
}

#form-div form span {
	display: block;
	color: red;
}

#form-div form input,
#form-div form textarea {
	width: 100%;
}

#form-div form textarea {
	height: 150px;
}

form .success {
	padding-top: 25px;
}

form input#button-blue {
	display: inline-block;
	width: auto;
	background-color: var(--flamingo);
	color: white;
	border-radius: 5px;
	min-width: 230px;
	font-size: 20px;
	padding: 10px 30px 10px 30px;
	border: none;
	transition: .2s;
}

form input#button-blue:hover {
	background-color: var(--deep-cove);
	color: var(--gold);
	cursor: pointer;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	#form-div form input,
	#form-div form textarea {
		width: 90%;
	}

	form input#button-blue {
		margin-bottom: 25px;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}