/* Default -> xl viewport (min-width: 1200px) */
div.banner-section .banner {
	height: var(--banner-height);
	width: 100%;
}

div.banner-section .banner .banner-overlay {
	background-image: linear-gradient(to right, var(--deep-cove), transparent);
	position: absolute;
	width: 100%;
	height: var(--banner-height);
}

div.banner-section .banner .content {
	position: relative;
	color: var(--deep-cove);
	top: 30px;
	text-transform: uppercase;
	font-family: "Montserrat";
	font-size: 38px;
	text-align: left;
	background-image: linear-gradient(to right, white, transparent);
	font-weight: 600;
	letter-spacing: .1em;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.banner-section .banner .content .title {
	padding: 0;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {

}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	div.banner-section {
		position: relative;
		top: 65px;
		border-bottom: 1px solid var(--deep-cove);
	}

	div.banner-section .banner {
		height: var(--sm-banner-height);
	}

	div.banner-section .banner .banner-overlay {
		display: none;
	}

	div.banner-section .banner .content {
		background-image: linear-gradient(to right, var(--deep-cove), transparent);
		font-size: 28px;
		color: white;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	div.banner-section .banner .content {
		font-size: 24px;
	}
}