/* Default -> xl viewport (min-width: 1200px) */
div.concept-container {
	background-color: var(--deep-cove);
	padding-top: 25px;
	padding-bottom: 25px;
}

div.concept-container .heading {
	font-size: 28px;
	letter-spacing: .1em;
	font-weight: 600;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}

div.concept-container .heading p {
	padding: 0;
}

div.concept-container .heading:after {
	content: "";
	border-bottom: 1px solid var(--san-marino);
	position: absolute;
	top: 0;
	left: 30%;
	right: 30%;
	bottom: 0;
}

div.concept-container .wrapper {
	display: flex;
	padding-top: 25px;
}

div.concept-container .wrapper .left-column, 
div.concept-container .wrapper .right-column {
	width: 50%;
	padding: 15px;
	position: relative;
}

div.concept-container .wrapper .right-column p {
	position: absolute;
	font-size: 12px;
	letter-spacing: .1em;
	max-width: 150px;
	color: var(--gold);
	text-align: center;
}

div.concept-container .wrapper .right-column p.university {
	left: 44.5%;
	top: -3px;
}

div.concept-container .wrapper .right-column p.seeking-tutor {
	left: 4%;
}

div.concept-container .wrapper .right-column p.seeking-tutee {
	right: 4%;
	top: -3px;
}

div.concept-container .wrapper .right-column p.tutor-dash {
	left: 43%;
	bottom: 35%;
}

div.concept-container .wrapper .img-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

div.concept-container .wrapper .img-wrapper > img {
	width: auto;
	height: 100%;
	margin: 0 auto;
	display: block;
	padding: 30px;
}

div.concept-container ul li {
	padding-bottom: 25px;
	padding-left: 30px;
	list-style-type: none;
	position: relative;
}

div.concept-container ul li:before {
	content: "\2799";
	position: absolute;
	left: 0;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

	div.concept-container .wrapper .img-wrapper {
		transform: translateY(20px);
	}

	div.concept-container .wrapper .img-wrapper > img {
		width: 100%;
		height: auto;
	}

	div.concept-container .wrapper .right-column p {
		font-size: 10px;
		max-width: 100px;
	}

	div.concept-container .wrapper .right-column p.university {
		top: 15px;
	}

	div.concept-container .wrapper .right-column p.seeking-tutor {
		left: 4%;
		top: 15px;
	}

	div.concept-container .wrapper .right-column p.seeking-tutee {
		right: 4%;
		top: 5px;
	}

	div.concept-container .wrapper .right-column p.tutor-dash {
		bottom: 42%;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	div.concept-container {
		padding-bottom: 0;
	}

	div.concept-container .wrapper {
		display: block;
	}

	div.concept-container ul {
		padding-right: 25px;
	}

	div.concept-container .wrapper .left-column, 
	div.concept-container .wrapper .right-column {
		width: 100%;
	}

	div.concept-container .wrapper .img-wrapper {
		position: relative;
		transform: none;
	}

	div.concept-container .wrapper .img-wrapper > img {
		padding-left: 45px;
		padding-right: 45px;
	}

	div.concept-container .wrapper .right-column p {
		font-size: 12px;
		max-width: 150px;
	}

	div.concept-container .wrapper .right-column p.university {
		left: 46%;
	}

	div.concept-container .wrapper .right-column p.seeking-tutor {
		left: 7%;
		top: 30px;
		max-width: 130px;
	}

	div.concept-container .wrapper .right-column p.seeking-tutee {
		right: 5%;
		top: 15px;
	}

	div.concept-container .wrapper .right-column p.tutor-dash {
		bottom: 35%;
		left: 45%;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	div.concept-container .wrapper .right-column p {
		font-size: 10px;
		max-width: 130px;
	}

	div.concept-container ul {
		padding-right: 30px;
		font-size: 14px;
	}

	div.concept-container .heading {
		font-size: 22px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}