/* Default -> xl viewport (min-width: 1200px) */
footer {
	font-family: "Montserrat";
	font-size: 14px;
}

footer.footer-wrapper {
	background-color: var(--deep-cove);
	padding: 20px 0 20px 0;
}

footer.footer-wrapper p, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
}

footer.footer-wrapper a {
	color: var(--san-marino);
}

footer.footer-wrapper .footer-main {
	display: flex;
	color: white;
}

footer.footer-wrapper .footer-main .left {
	width: 30%;
}

footer.footer-wrapper .footer-main .center {
	width: 40%;
	text-align: center;
	font-style: italic;
	line-height: 1;
	font-size: 10px;
}

footer.footer-wrapper .footer-main .center img.screen {
	width: 180px;
	height: 90px;
	position: relative;
}

footer.footer-wrapper .footer-main .center img.screen-fill {
	position: absolute;
	height: 50px;
	width: auto;
	top: 20px;
	right: 195px;
}

footer.footer-wrapper .footer-main .center .img-group {
	justify-content: center;
	position: relative;
}

footer.footer-wrapper .footer-main .center p {
	position: absolute;
	transform: translate(166px, 30px);
}

footer.footer-wrapper .footer-main .center p:after {
	content: "\2710";
	display: block;
	font-size: 20px;
	position: relative;
	top: 7px;
	color: var(--san-marino);
	margin: 0;
	line-height: 1;
}

footer.footer-wrapper .footer-main .right {
	width: 30%;
	text-align: right;
}

footer.footer-wrapper .footer-main .left > img {
	width: 110px;
	height: 25px;
	margin-bottom: 10px;
}

footer.footer-wrapper .footer-main .left .rights {
	display: flex;
}

footer.footer-wrapper .footer-main .left .rights > img {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

footer.footer-wrapper .footer-main .right > img {
	width: 100px;
	height: 100px;
}

footer .tutordash {
	letter-spacing: .1em;
	text-transform: uppercase;
	color: var(--teal);
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	footer.footer-wrapper .footer-main .center p {
		transform: translate(130px, 30px);
	}

	footer.footer-wrapper .footer-main .center img.screen-fill {
		right: 160px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	footer.footer-wrapper .footer-main .center {
		display: none;
	}

	footer.footer-wrapper .footer-main .left,
	footer.footer-wrapper .footer-main .right {
		width: 50%;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	html.subpage footer.footer-wrapper {
		position: relative;
		top: 65px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	footer.footer-wrapper p, a {
		font-size: 10px;
	}

	footer.footer-wrapper .footer-main .left .rights > img {
		width: 15px;
		height: 15px;
	}
}