/* Default -> xl viewport (min-width: 1200px) */
html.homepage body {
	background-color: var(--wedgewood);
	background-image: url(../../img/bg-img/background_no-color.png);
	background-size: 100%;
	background-repeat: repeat-y;
}

html.homepage .hero-section .hero-title.mobile {
	display: none;
}

html.homepage .subcontent {
	position: relative;
	opacity: 0;
}

html.homepage body div.bg-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: radial-gradient(
		var(--translucent-white), 
		var(--translucent-aquamarine-blue), 
		var(--translucent-san-marino), 
		var(--deep-cove)
	);
	z-index: -1;
}

html.homepage .hero-section {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	color: white;
	text-align: center;
		min-height: 210px;
}

html.homepage .hero-section p {
	font-family: "Montserrat";
	letter-spacing: .10em;
}

html.homepage .hero-section .hero-overlay .hero-content {
	/* display: none; */
	margin-top: 200px;
}

html.homepage .hero-section .hero-title {
	font-size: 60px;
	font-weight: 700;
	display: inline-block;
	position: relative;
}

html.homepage .hero-section .hero-subtitle {
	font-size: 30px;
	margin-left: 10%;
	margin-right: 10%;
}

html.homepage .hero-section .hero-btn {
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 22px;
	letter-spacing: .10em;
	margin-top: 50px;
	padding: 18px 35px 18px 35px;
	background-color: var(--san-marino);
	color: white;
	box-shadow: 0px 0px 25px var(--translucent-white);
	transition: .2s;
}

html.homepage .hero-section .hero-btn:hover {
	background-color: var(--translucent-deep-cove);
	box-shadow: 0 0 35px white;
}

html.homepage .hero-section .hero-img {
	width: 100%;
	min-height: 210px;
}

html.homepage .hero-section .hero-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--translucent-deep-cove);
}

@media (max-width: 1799px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 150px;
	}
}

@media (max-width: 1499px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 100px;
	}
}

@media (max-width: 1249px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 80px;
	}
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 60px;
	}

	html.homepage .hero-section .hero-title {
		font-size: 50px;
	}

	html.homepage .hero-section .hero-subtitle {
		font-size: 25px;
	}

	html.homepage .hero-section .hero-btn {
		font-size: 18px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 40px;
	}

	html.homepage .hero-section .hero-title {
		font-size: 42px;
	}

	html.homepage .hero-section .hero-subtitle {
		font-size: 22px;
	}

	html.homepage .hero-section .hero-btn {
		font-size: 16px;
		padding: 10px 28px 10px 28px;
		margin-top: 40px;
	}
}

@media (max-width: 825px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 30px;
	}

	html.homepage .hero-section .hero-title {
		font-size: 40px;
	}

	html.homepage .hero-section .hero-subtitle {
		font-size: 20px;
	}

	html.homepage .hero-section .hero-btn {
		font-size: 15px;
		padding: 10px 25px 10px 25px;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	html.homepage .hero-section {
		position: relative;
		top: 65px;
	}

	html.homepage main {
		position: relative;
		top: 65px;
		margin-bottom: 65px;
	}

	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 20px;
	}

	html.homepage .hero-section .hero-title {
		font-size: 30px;
	}

	html.homepage .hero-section .hero-subtitle {
		font-size: 14px;
	}

	html.homepage .hero-section .hero-btn {
		margin-top: 25px;
		font-size: 16px;
		padding: 10px 28px 10px 28px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	html.homepage .hero-section .hero-overlay .hero-content {
		margin-top: 25px;
	}

	html.homepage .hero-section .hero-subtitle {
		visibility: hidden;
		margin: 0;
		padding: 0;
	}

	html.homepage .hero-section .hero-btn {
		margin-top: -30px;
		font-size: 12px;
	}

	html.homepage .hero-section .hero-title {
		display: none;
	}

	html.homepage .hero-section .hero-title.mobile {
		display: block;
		font-size: 20px;
	}
}
