/* Default -> xl viewport (min-width: 1200px) */
html.subpage.lab-report div.body {
	background-color: var(--wedgewood);
}

html.lab-report .wrapper {
	display: block;
	text-align: center;
}

html.lab-report .wrapper a.figures {
	padding-top: 10px;
	color: var(--teal);
	display: inline-block;
	letter-spacing: .1em;
	transition: .1s;
}

html.lab-report .wrapper a.figures:hover {
	color: var(--gold);
	letter-spacing: .15em;
	text-decoration: none;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {

}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}