nav.mobile-navigation {
	display: none;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

/* Mobile navigation will display between 0px and 767px */
@media (max-width: 767px) {
	nav.mobile-navigation {
		display: block;
	}

	nav.mobile-navigation .mobile-menu {
		display: none;
		background-color: var(--san-marino);
		width: 75%;
		position: absolute;
		box-shadow: 2px 2px 10px black;
		z-index: 1;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav {
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item {
		padding: 8px 1rem 8px 1rem;
		transition: .1s;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item:nth-child(n+2) {
		border-top: 1px solid var(--blue-zodiac);
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item:first-child {
		
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item:hover {
		/* background-color: var(--blue-zodiac); */
		background-color: white;
		cursor: pointer;
		box-shadow: 0px 0px 2px var(--translucent-white);
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item:hover .mobile-link {
		/* color: white; */
		font-weight: 600;
		color: black;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item:hover.dropdown:after {
		color: black;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item .mobile-link {
		color: white;
		font-family: "Montserrat";
		font-size: 18px;
		font-weight: 600;
		pointer-events: none;
		transition: .1s;
		text-transform: uppercase;
	}

	nav.mobile-navigation .mobile-menu .mobile-nav .mobile-item .mobile-link:hover {
		text-decoration: none;
	}

	nav.mobile-navigation .navbar.navbar-expand-sm {
		display: block;
		background-color: var(--deep-cove);
		padding-top: 15px;
		padding-bottom: 15px;
	}

	nav.mobile-navigation .nav-logo {
		width: 130px;
		height: 35px;
		transition: .2s;
	}

	nav.mobile-navigation .nav-logo:hover, 
	nav.mobile-navigation .nav-logo:active {
		background-color: var(--san-marino);
		border-radius: 3px;
	}

	nav.mobile-navigation .menu-btn {
		position: absolute;
		right: 1rem;
		top: 1rem;
		color: white;
		font-family: "Work Sans";
		border: 1px solid white;
		border-radius: 2px;
		padding: 3px 5px 2px 5px;
		text-align: center;
		transition: .2s;
		line-height: 1.1;
		transform: translateY(-1px);
	}

	nav.mobile-navigation .menu-btn:active {
		box-shadow: 0px 0px 2px white;
	}

	nav.mobile-navigation .menu-btn.on {
		background-color: var(--san-marino);
		border-color: transparent;
		cursor: pointer;
	}

	nav.mobile-navigation .menu-label:before {
		content: "MENU";
		font-size: 11px;
		font-family: "Work Sans";
		font-weight: 600;
		display: block;
	}

	nav.mobile-navigation .close-label:before {
		content: "CLOSE";
		font-size: 11px;
		font-family: "Work Sans";
		font-weight: 600;
		display: block;
	}

	nav.mobile-navigation .menu-btn:hover, nav.mobile-navigation .menu-btn:active {
		background-color: var(--san-marino);
		border-color: white;
		cursor: pointer;
	}

	nav.mobile-navigation .menu-btn:hover nav.mobile-navigation .mobile-menu {
		display: block;
	}

	nav.mobile-navigation .mobile-overlay {
		visibility: hidden;
		background-color: black;
		opacity: 0.6;
		position: fixed;
		top: 65px;
		bottom: 0;
		left: 0;
		right: 0;
	}

	nav.mobile-navigation .dropdown .mobile-dropdown-menu {
		display: none;
	}

	nav.mobile-navigation .dropdown .mobile-dropdown-menu.selected, 
	nav.mobile-navigation .dropdown .mobile-dropdown-menu.selected:hover, 
	nav.mobile-navigation .mobile-item.dropdown.selected, 
	nav.mobile-navigation .mobile-item.dropdown.selected:hover, 
	nav.mobile-navigation .mobile-item.dropdown.selected .mobile-link, 
	nav.mobile-navigation .mobile-item.dropdown.selected:hover .mobile-link {
		display: block;
		background-color: var(--blue-zodiac);
		color: white;
		cursor: default;
	}

	nav.mobile-navigation .mobile-item.dropdown:after {
		content: "\25be";
		transform: scale(2);
		position: absolute;
		right: 15px;
		top: 5px;
		color: white;
	}
 	
	nav.mobile-navigation .dropdown.selected:after {
		display: none;
	}

	nav.mobile-navigation .mobile-item.dropdown.selected .mobile-link:before,
	nav.mobile-navigation .mobile-item.dropdown.selected .mobile-link:after {
		content: "";
		border-bottom: 1px solid var(--teal);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		width: 100%;
	}

	nav.mobile-navigation .mobile-item.dropdown.selected .mobile-link:before {
		bottom: 0;
	}

	nav.mobile-navigation .dropdown .mobile-dropdown-menu li {
		list-style-type: none;
		list-style-position: inside;
		padding: 5px;
	}

	/*
	nav.mobile-navigation .dropdown .mobile-dropdown-menu li:before {
		content: "";
		border-top: 1px solid var(--aquamarine-blue);
		width: 87%;
		position: absolute;
		transform: translate(-31px, -10px);
	}
	*/

	nav.mobile-navigation .dropdown .mobile-dropdown-menu li:first-child {
		margin-top: 10px;
	}

	nav.mobile-navigation .dropdown .mobile-dropdown-menu li a {
		color: white;
		text-decoration: none;
	}

	nav.mobile-navigation .dropdown .mobile-dropdown-menu li a:hover {
		color: var(--aquamarine-blue);
	}

	nav.mobile-navigation .bullet:before {
		content: "\2771";
		position: relative;
		right: 25px;
	}

	nav.mobile-navigation .bullet.sub {
		cursor: pointer;
	}

	nav.mobile-navigation .dropdown-submenu {
		display: none;
	}

	nav.mobile-navigation .dropdown-submenu.on {
		display: block;
	}

	nav.mobile-navigation .mobile-dropdown-menu .dropdown > .bullet:after {
		content: "\25be";
		position: absolute;
		right: 0;
		transform: scale(2);
	}

	nav.mobile-navigation .mobile-dropdown-menu .dropdown > .bullet.on:after {
		content: "\2710";
		position: absolute;
		right: 0;
	}
}

@media (max-width: 575px) {
	/*
	nav.mobile-navigation .dropdown .mobile-dropdown-menu li:before {
		width: 83.5%;
	}
	*/
}