/* Default -> xl viewport (min-width: 1200px) */
html.subpage.presentation div.body {
	background-color: var(--deep-cove);
	background-image: linear-gradient(
		to bottom right, 
		var(--san-marino), 
		transparent
	);
}

html.subpage.presentation .presentation-wrapper > iframe {
	height: 100%;
	width: 100%;
}

html.subpage.presentation article {
	margin-bottom: 40px;
	position: relative;
}

html.subpage.presentation article .sidebar {
	position: relative;
}

html.subpage.presentation .presentation-wrapper {
	box-shadow: 0 0 50px var(--deep-cove);
	height: 490px;
	width: 100%;
}

html.subpage.presentation .download {
	position: absolute;
	letter-spacing: .1em;
	bottom: 0;
}

html.subpage.presentation .download:hover a {
	color: var(--gold);
	text-decoration: none;
}

html.subpage.presentation .download a {
	line-height: 1;
	padding: 0;
	margin: 0;
	display: block;
	color: white;
}

html.subpage.presentation .download a:after {
	content: "\27AB";
	font-size: 22px;
	padding-left: 15px;
}

html.subpage.presentation .img-wrapper {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	display: block;
	margin-top: 15px;
	background-image: radial-gradient(var(--gold), transparent, transparent);
}

html.subpage.presentation .img-wrapper > img {
	height: 100%;
	width: 100%;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	html.subpage.presentation .sidebar {
		font-size: 14px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	html.subpage.presentation .img-wrapper {
		margin-top: 0;
	}

	html.subpage.presentation .download {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 25px;
		position: relative;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	html.subpage.presentation .presentation-wrapper {
		height: 300px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}