/* Default -> xl viewport (min-width: 1200px) */
nav.primary-navigation {
	background-color: var(--deep-cove);
	font-family: "Montserrat";
	font-size: 14px;
	color: white;
}

nav.primary-navigation .nav-logo {
	height: var(--logo-height);
	width: 160px;
	padding: 2px;
	transition: .2s;
}

nav.primary-navigation .logo-wrapper {
	border: 1px solid transparent;
	border-radius: 5px;
	transition: .2s;
}

nav.primary-navigation .logo-wrapper:hover {
	border-color: var(--translucent-white);
	background-color: var(--blue-zodiac);
}

nav.primary-navigation .navbar-wrapper {
	position: absolute;
	right: 0;
	height: var(--logo-height);
}

nav.primary-navigation .navbar-wrapper .navbar-nav {
	height: var(--logo-height);
}

nav.primary-navigation .dropdown:hover > .dropdown-menu {
	display: block;
}

nav.primary-navigation  .dropdown-submenu:hover > .dropdown-menu {
	display: inline;
	position: absolute;
	top: 0;
	transform: translateX(100%);
}

nav.primary-navigation .dropdown-menu {
	display: none;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
}

nav.primary-navigation .dropdown-menu li {
	padding: 8px;
	line-height: 1;
	font-size: 14px;
}

/*
nav.primary-navigation .dropdown-menu li:first-child {
	padding-top: 16px;
}

nav.primary-navigation .dropdown-menu li:last-child {
	padding-bottom: 16px;
}
*/

nav.primary-navigation .dropdown-submenu:after {
	content: "\25b8";
	color: white;
	position: absolute;
	right: 10px;
	top: 7px;
}

nav.primary-navigation .nav-item.dropdown:after {
	content: "\25be";
	color: red;
	display: block;
	text-align: center;
	color: var(--aquamarine-blue);
}

nav.primary-navigation .nav-item > a.nav-link {
	line-height: 1;
	padding-bottom: 0;
	text-transform: uppercase;
	color: white;
	pointer-events: none;
}

nav.primary-navigation .nav-item {
	padding-left: 10px;
	padding-right: 10px;
	transition: .2s;
}

nav.primary-navigation .nav-item:hover {
	background-color: var(--aquamarine-blue);
	cursor: pointer;
}

nav.primary-navigation .nav-item:hover a.nav-link {
	color: var(--deep-cove);
}

nav.primary-navigation .nav-item.dropdown:hover:after {
	color: var(--san-marino);
}

nav.primary-navigation .dropdown-menu {
	background-color: var(--deep-cove);
	transition: .2s;
	box-shadow: -2px 2px 5px var(--translucent-white);
}

nav.primary-navigation .dropdown-menu li a {
	color: white;
	pointer-events: none;
	transition: .2s;
}

nav.primary-navigation .dropdown-menu li:hover {
	cursor: pointer;
}

nav.primary-navigation .dropdown-menu li:hover > a {
	color: var(--aquamarine-blue);
}

nav.primary-navigation .dropdown-menu li:hover:after {
	color: var(--aquamarine-blue);
}

nav.primary-navigation .dropdown.dropdown-submenu:hover {
	cursor: default;
}

nav.primary-navigation .dropdown li {
	transition: .2s;
}

nav.primary-navigation .dropdown li:hover {
	box-shadow: 0px 0px 2px var(--san-marino);
}

nav.primary-navigation .nav-item.dropdown {
	cursor: default;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	nav.primary-navigation .nav-link, nav.primary-navigation .dropdown-menu li {
		font-size: 12px;
	}

	nav.primary-navigation .nav-item {
		padding-left: 5px;
		padding-right: 5px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	nav.primary-navigation {
		height: 115px;
	}

	nav.primary-navigation .navbar.navbar-expand-sm.container {
		position: relative;
		display: block;
		text-align: center;
	}

	nav.primary-navigation .nav-link, nav.primary-navigation .dropdown-menu li {
		font-size: 11px;
	}

	nav.primary-navigation .navbar-wrapper {
		width: 100%;
		padding-top: 15px;
	}

	nav.primary-navigation .logo-wrapper:hover {
		border-color: transparent;
		background-color: transparent;
	}

	nav.primary-navigation .nav-logo:hover {
		box-shadow: 0px 0px 5px var(--translucent-white);
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	nav.primary-navigation {
		display: none;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}
