/* Default -> xl viewport (min-width: 1200px) */
section.resources > div.section {
	background-color: var(--deep-cove);
	padding: 25px;
	border-radius: 10px;
	background-image: linear-gradient(to top left, var(--translucent-san-marino), transparent);
}

section.resources > div.section:not(:last-child) {
	margin-bottom: 15px;
}

section.resources > div.section a {
	display: inline-block;
	color: var(--aquamarine-blue);
}

section.resources > div.section h3 {
	font-size: 26px;
	letter-spacing: .1em;
	color: var(--gold);
	margin-bottom: 15px;
}

section.resources > div.section ol {
	margin-bottom: 5px;
}

section.resources > div.section ol li {
	padding-left: 20px;
	font-size: 15px;
}

section.resources > div.section ol li:not(:last-child) {
	margin-bottom: 10px;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	section.resources > div.section ol li {
		font-size: 13px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	section.resources > div.section ol li {
		font-size: 11px;
	}

	section.resources > div.section h3 {
		font-size: 18px;
		text-align: center;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	section.resources > div.section ol {
		padding-left: 15px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}