/* Default -> xl viewport (min-width: 1200px) */
html.subpage .three-columns {
	padding-top: 25px;
	padding-bottom: 25px;
}

html.subpage .card1 {
	pointer-events: none;
	background-color: var(--translucent-deep-cove);
}

html.subpage .card1 .btn-wrapper {
	display: none;
}

html.subpage div.body {
	background-color: var(--san-marino);
	background-image: radial-gradient(var(--aquamarine-blue), transparent);
	font-family: "Montserrat";
	font-size: 16px;
	color: white;
	padding-bottom: 20px;
}

html.subpage div.body .content {
	animation: fadein 2s ease-in-out;
	animation-fill-mode: forwards;
}

html.subpage .header {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
}

@keyframes glow {
	0% {
		background-color: transparent;
		box-shadow: none;
	}

	50% {
		background-color: var(--san-marino);
		box-shadow: 0 0 5px var(--translucent-aquamarine-blue);
	}

	100% {
		background-color: transparent;
		box-shadow: none;
	}
}

html.subpage .header:after {
	content: "";
	height: 2px;
	background-image: linear-gradient(to left, var(--aquamarine-blue), var(--translucent-deep-cove));
	border-radius: 1px;
	position: absolute;
	top: 75px;
	left: 10%;
	right: 10%;
	bottom: 0;
	animation: glow 2s ease-in-out infinite;
	animation-fill-mode: forwards;
}

html.subpage .header > .heading {
	font-weight: 600;
	font-size: 32px;
	letter-spacing: .1em;
	margin-bottom: 20px;
}

html.subpage article div.article .img-wrapper > img {
	width: 100%;
	height: auto;
}

html.subpage div.link-to-img {
	display: block;
	text-align: center;
	margin: 1rem;
}

html.subpage div.link-to-img a {
	color: white;
	transition: .2s;
	padding: 5px 15px 5px 15px;
	background-color: var(--san-marino);
	border-radius: 5px;
	display: inline-block;
	border: 1px solid transparent;
}

html.subpage div.link-to-img a:hover {
	color: var(--gold);
	text-decoration: none;
	border: 1px solid var(--gold);
	background-color: transparent;
}

html.subpage iframe.full-width {
	width: 100%;
	height: 700px;
	box-shadow: 0 0 25px var(--deep-cove);
}

html.subpage .progress-report {
	padding: 5px 20px 5px 20px;
	background-color: var(--translucent-deep-cove);
}

html.subpage .progress-report:not(:last-child) {
	margin-bottom: 10px;
}

html.subpage .progress-report > p {
	letter-spacing: .1em;
	color: var(--gold);
	font-size: 16px;
	text-align: left;
	transition: .2s;
	display: inline-block;
}

html.subpage .progress-report > p:hover {
	color: var(--teal);
	letter-spacing: .11em;
	cursor: pointer;
}

html.subpage .progress-report > iframe {
	width: 100%;
	height: 500px;
	box-shadow: 0 0 20px var(--deep-cove);
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	html.subpage .progress-report > iframe {
		height: 400px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	html.subpage .card1 .blurb {
		width: 100%;
	}

	html.subpage .progress-report > p {
		font-size: 14px;
		text-align: center;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	html.subpage main {
		position: relative;
		top: 65px;
	}

	html.subpage .header > .heading {
		font-size: 22px;
	}

	html.subpage .header > .subheading {
		font-size: 14px;
	}

	html.subpage .header:after {
		top: 65px;
	}

	html.subpage .progress-report > iframe {
		height: 300px;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}