/* Default -> xl viewport (min-width: 1200px) */
html.scale-sidebar article .sidebar p {
	font-size: 14px;
}

table .green {
	color: var(--green);
}

table .orange {
	color: var(--orange);
}

table .red {
	color: var(--red);
}

table .gold {
	color: var(--gold);
}

table.competition th {
	color: white;
		background-image: linear-gradient(
		to bottom,
		var(--deep-cove),
		transparent
	);
}

table.competition th.green {
	color: white;
	background-image: linear-gradient(
		to bottom,
		var(--green),
		transparent
	);
}

table.competition th.orange {
	color: white;
	background-image: linear-gradient(
		to bottom,
		var(--orange),
		transparent
	);
}

table.competition th.red {
	color: white;
	background-image: linear-gradient(
		to bottom,
		var(--red),
		transparent
	);
}

table tr {
	position: relative;
}

table.competition {
	font-size: 12px;
	border: 1px solid var(--translucent-white);
	background-image: linear-gradient(
		to top left, 
		var(--translucent-aquamarine-blue), 
		transparent
	);
	border-top: none;
}

table.competition th {
	padding: 0;
	vertical-align: middle;
}

table.competition th,
table.competition td {
	border: 1px solid var(--translucent-white);
	padding-left: 10px;
	padding-right: 10px;
}

table.competition tr > th:first-child,
table.competition tr > td:first-child {
	width: 150px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.competition tr > th:nth-child(n+2),
table.competition tr > td:nth-child(n+2) {
	text-align: center;
}

table.competition tr:first-child > th {
	padding-top: 5px;
	padding-bottom: 5px;
}

table.competition tr:first-child > th:first-child {
	vertical-align: middle;
	text-align: center;
}

table.competition td.green,
table.competition td.red {
	font-size: 36px;
}

html.risks div.risks-wrapper {
	display: flex;
	position: relative;
}

div.risks-wrapper .y-axis,
div.risks-wrapper table.risks {
	display: inline-block;
}

div.risks-wrapper .y-axis {
	transform: rotate(-90deg);
	position: absolute;
	left: -70px;
	top: 85px;
}

html.risks .y-axis,
html.risks .x-axis {
	letter-spacing: .1em;
	font-size: 20px;
}

html.risks .x-axis {
	text-align: center;
}

html.risks .y-axis p,
html.risks .x-axis p {
	padding-bottom: 5px;
	color: var(--gold);
}

html.risks .y-axis p:after,
html.risks .x-axis p:after {
	content: "\27af";
	padding: 0 10px 0 10px;
}

html.risks .y-axis p:before,
html.risks .x-axis p:before {
	content: "\27b1";
	transform: rotate(180deg);
	position: relative;
	display: inline-block;
	padding: 0 10px 0 10px;
}

table.risks th,
table.risks td {
	width: 150px;
	border: 1px solid var(--translucent-white);
	padding: 5px;
}

table.risks .gold,
table.risks .green,
table.risks .orange,
table.risks .red {
	color: white;
}

table.risks td.gold {
	background-image: linear-gradient(
		to bottom,
		var(--gold),
		var(--transparent-gold)
	);
}

table.risks td.green {
	background-image: linear-gradient(
		to bottom,
		var(--green),
		var(--transparent-green)
	);
}

table.risks td.orange {
	background-image: linear-gradient(
		to bottom,
		var(--orange),
		var(--transparent-orange)
	);
}

table.risks td.red {
	background-image: linear-gradient(
		to bottom,
		var(--red),
		var(--transparent-red)
	);
}

table.risks {
	background-image: linear-gradient(
		to top left,
		var(--translucent-deep-cove),
		transparent
	);
	box-shadow: 0 0 20px var(--deep-cove);
	margin-left: 30px;
	margin-bottom: 10px;
}

table.risks tr:first-child th,
table.risks tr:nth-child(n+2) td:first-child {
	background-color: var(--deep-cove);
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) { 
	table.competition {
		font-size: 10px;
	}

	table.competition tr > th:first-child,
	table.competition tr > td:first-child {
		width: 120px;
	}

	html.scale-sidebar article .sidebar p {
		font-size: 12px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {

}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	table.competition {
		font-size: 6px;
	}

	table.competition tr > th:first-child,
	table.competition tr > td:first-child {
		width: 90px;
	}

	table.competition td.green,
	table.competition td.red {
		font-size: 24px;
	}

	table.risks {
		font-size: 11px;
		margin-left: 20px;
	}

	html.risks .x-axis p,
	html.risks .y-axis p {
		font-size: 14px;
	}

	table.risks th,
	table.risks td {
		width: 75px;
	}

	div.risks-wrapper .y-axis {
	left: -60px;
	top: 70px;
}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	table.competition {
		font-size: 5px;
	}
}