/* Default -> xl viewport (min-width: 1200px) */
section.team-container {
	position: relative;
}

section.team-container .team-row {
	position: relative;
	display: flex;
	justify-content: center;
}

section.team-container .member-wrapper {
	width: 33.333%;
	padding: 25px 20px;
	margin: 15px;
	background-color: var(--translucent-deep-cove);
	background-image: linear-gradient(to bottom, var(--san-marino), var(--deep-cove));
	transition: .2s;
}

section.team-container .member-wrapper:hover {
	box-shadow: 0 0 15px white;
}

section.team-container .member-wrapper:hover .name:after {
	color: var(--teal);
}

section.team-container .team-row:last-child .member-wrapper:nth-child(2n+1),
section.team-container .team-row:first-child .member-wrapper:nth-child(2n) {
	background-image: linear-gradient(to bottom, var(--aquamarine-blue), var(--deep-cove));
}

section.team-container .member-wrapper .img-wrapper {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
}

section.team-container .member-wrapper .img-wrapper > img {
	width: 100%;
	height: 100%;
	border-radius: 75px;
	box-shadow: 0 0 25px var(--translucent-white);
}

section.team-container .member-wrapper .name {
	text-align: center;
	letter-spacing: .1em;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 0;
}

section.team-container .member-wrapper .name:after {
	content: "\270f";
	text-align: center;
	font-size: 24px;
	display: block;
	color: var(--gold);
	animation: spin 3s ease-in-out infinite;
	animation-fill-mode: forwards;
	position: relative;
	transition: .2s;
}

section.team-container .member-wrapper .role {
	text-align: center;
	position: relative;
	letter-spacing: .1em;
}

section.team-container .member-wrapper .about {
	padding-bottom: 0;
	font-size: 12px;
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {
	section.team-container .member-wrapper .name {
		font-size: 16px;
	}

	section.team-container .member-wrapper .role {
		font-size: 12px;
	}
}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	section.team-container .team-row {
		display: block;
	}

	section.team-container .member-wrapper {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
		display: flex;
		position: relative;
	}

	section.team-container .member-wrapper .img-wrapper {
		width: 30%;
		height: 100px;
		width: 100px;
		margin: 0;
		margin-right: 15px;
	}

	section.team-container .member-wrapper .img-wrapper > img {
		border-radius: 50px;
	}

	section.team-container .member-wrapper .text-wrapper {
		width: 70%;
	}
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {

}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {

}