/* Default -> xl viewport (min-width: 1200px) */
nav.utility-navigation {
	background-color: var(--san-marino);
}

nav.utility-navigation .navbar.navbar-expand-sm.container {
	padding: 0 1rem 0 1rem;
	line-height: 1;
	justify-content: flex-end;
}

nav.utility-navigation .nav-item:nth-child(n+2) {
	margin-left: 40px;
}

nav.utility-navigation .nav-link {
	padding: 2px 0 2px 0;
	font-family: "Montserrat";
	font-size: 12px;
	color: white;
	text-align: center;
	transition: .2s;
}

nav.utility-navigation .navbar-nav .nav-item:hover .nav-link {
	color: var(--deep-cove);
}

/* lg viewport (min-width: 992px) */
@media (max-width: 1199px) {

}

/* md viewport (min-width: 768px) */
@media (max-width: 991px) {
	
}

/* sm viewport (min-width: 576px) */
@media (max-width: 767px) {
	nav.utility-navigation {
		display: none;
	}
}

/* xs viewport (min-width: ~375px) */
@media (max-width: 575px) {
	
}
